body {
    font-family: 'Nunito', sans-serif;
    background: $gray1;
}

.container {
    padding: 0;
    margin: 1.5em auto;

    background: $white;
    box-shadow: 0 6px 17px 8px rgba(#000, .45);

    border-radius: 15px;
}

@media screen and (max-width: 576px) {
    body {
        margin: 1em 2em;
    }
}