.game2048 {
    max-width: 350px;
    margin: 0 auto;
    padding: 15px 0;

    &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &-title {
            color: $title;

            font-weight: 700;
            font-size: 58px;
        }
    }

    &__score {
        display: flex;
        align-items: center;

        &-item {
            display: flex;
            flex-direction: column;

            color: $white;
            text-align: center;

            border-radius: 5px;

            background: $score;
            padding: 8px 14px;

            & + & {
                margin-left: 5px;
            }
        }

        &-title {
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;

            margin-bottom: 4px;
        }

        &-value {
            font-size: 20px;
            font-weight: 700;
        }
    }

    &__list {
        margin-top: 12px;

        display: flex;
        justify-content: flex-end;

        &-btn {
            color: $white;
            font-size: 17px;
            font-weight: 700;

            padding: 10px 12px;
            border-radius: 5px;
            background: $btn2048;

            cursor: pointer;
            transition: .3s 0s;

            &:hover {
                background: $btn20481;
            }
        }
    }

    &__body {
        position: relative;
        margin-top: 20px;

        &-canvas {
            border-radius: 5px;
            background: $bodyBg;
        }
    }

    &__game {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.tail {
    position: absolute;
    border-radius: 6px;

    will-change: transform;

    user-select: none;

    color: #ffffff;
    font-size: 40px;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;

    &.dark {
        color: $title;
    }

    &[data-value='256'],
    &[data-value='512'],
    &[data-value='128'], {
        font-size: 32px;
    }
}

// 1200
@include media-breakpoint-down(lg) {
    .game2048 {

    }
}

// 992
@include media-breakpoint-down(md) {
    .game2048 {
    }
}

// 768
@include media-breakpoint-down(sm) {
    .game2048 {

    }
}

// 576
@media screen and (max-width: 576px) {
    .game2048 {

    }
}